<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664430055660-6kq3rr91bbo0ak5njpn7i59qij6jkmlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664430055660-6kq3rr91bbo0ak5njpn7i59qij6jkmlq</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ67r5tf5Sy8U1BwdDHoyjPBLpIbbRG88</string>
	<key>GCM_SENDER_ID</key>
	<string>664430055660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meenanusak.smartbin</string>
	<key>PROJECT_ID</key>
	<string>smartbin-2d834</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbin-2d834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664430055660:ios:dad1dc1989c2a754a915c9</string>
	<key>DATABASE_URL</key>
	<string>https://smartbin-2d834.firebaseio.com</string>
</dict>
</plist>